html {
    background:#282c34;
}

.my-name,
.body {
    color:#abb2bf;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

