@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

html {
    background:#282c34;
}

.header-container {
    overflow: hidden;
    background-color: #282c34;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 70px;
    transition: top 0.3s;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.2);
}

.header-container a {
    padding: 25px;
    color: #abb2bf;
    font-size: 18px;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    text-decoration: none;
}

.resume-nav {
    padding-right: 20px;
}

.header-container a:hover {
    color: #daaf72;
}



.name-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    min-width: fit-content;
}

.sidenav {
    height: 150px;
    width: 70px;
    position: fixed;
    bottom: 20px;
    padding-left: 20px;
    background-color: #282c34;
    overflow-x: hidden;
}

.sidenav a:hover {
    color: #daaf72;
}

.sidenav a {
    text-decoration: none;
    font-size: 20px;
    color: #abb2bf;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}


.fa {
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }

.fa-facebook {
    color: white;
  }

.about-me-container,
.contact-me-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.about-me-header,
.contact-me {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 834.45px;
}


.whitespace1 {
    height: 300px;
}

.my-name {
    font-size: xxx-large;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.text1,
.text2,
.text3,
.text6 {
    text-align: left;
    color: #daaf72;
    font-size: 22px;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

.text3,
.text6 {
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text4,
.text5,
.text8,
.text7 {
    text-align: left;
    color: #abb2bf;
    font-size: 18px;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    line-height: 1.5;
}

h1 {
    margin-block-start: 0.27em;
    margin-block-end: 0.27em;
    text-align: left;
    font-size: 96px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.item1 {
    text-align: right;
}

.my-name,
.name1,
.item1,
.body {
    color:#abb2bf;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

